/* ページ全体のスタイル */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  /* ヘッダーのスタイル */
  h1 {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin: 0;
  }
  
  /* フォームのスタイル */
  form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* 天気情報のスタイル */
  h2 {
    color: #333;
  }
  
  h1.weather-info {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
  }